.headerStyle{
  background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.AppBar {
  
 height:90%;
 line-height: 40px;
 background-clip: #FF6666;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{

  padding:0;
  margin:0;
  width:100%;
  height:40px;
  line-height: 40px;
  background-color: #FF6666;
}


.right{
    padding:0px;
    margin:0px;
    list-style: none;
    display:flex;
    flex:row;
    margin:2px;
    font-size: 16px;
    float:left;
}

.anchor{
  text-decoration: none;
  padding: 0px 20px;
  line-height: 30px;
  font-size: 15px;
  color:white;
 
}

.title{
  margin-left: 20px;
  color: white;
  margin-top: 0;
  float: left;
  font-size: 20px;
}